*{
    margin: 0;
    padding: 0;
}

body{
    border: 5px solid rgba(84, 56, 247, 0.952);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.bg{
    background-image: url("carpic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(10px);
}
.load-text{
    font-size: 10rem;
    color: rgb(0, 0, 0);
}